body { 
    padding-top: 70px; 
}

#profile-box {
    padding-bottom: 16px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.album-preview td {
    padding: 4px;
}

.album-preview {
    height: 100%;
}