body { 
    padding-top: 70px; 
    padding-bottom: 70px;
}

#profile-box {
    margin-bottom: 16px;
}

#upload-preview {
    max-height: 400px;
    max-width: 500px;
}

.feed-box {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.feed-box > .thumbnail {
    border: 0px;
    margin-bottom: 0px;
}

.picture-info {
    padding-left: 10px;
    padding-right: 10px;
}

.nr-of-likes {
    text-align: right;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.album-preview td {
    padding: 4px;
}

.album-preview {
    height: 100%;
}

.album-preview-wrapper {
    display: table;

}

#single-image {
    max-height: 600px;
    margin-bottom: 16px;
}

.thumbnail .img-responsive {
    width: 100%;
}

.picture-comment-input {
    resize: none;
}

#comment-avatar {
    max-height: 75px;
    max-width: 75px;
}

.comment-row {
    margin-bottom: 8px;
    border: 10px;
}
.comment-row-input {
    margin-bottom: 8px;
}

#album-header {
    margin-bottom: 16px;
}

.fill-img {
    visibility: hidden;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-email input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}