<div id="about-page">
    <h1>About</h1>
    <p><strong>InstaFlickr</strong> was developed spring 2016 over four weeks for the course DAT076/DIT126 Webapplikationer (Web Applications).</p>

    <h3>Developers</h3>
    <ul>
        <li>Stefan Fritzon</li>
        <li>Thomas Högberg</li>
        <li>Henry Ottervad</li>
        <li>Pontus Thomé</li>
    </ul>

    <h3>Front-End</h3>
    <ul>
        <li>AngularJS</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>

    <h3>Back-End</h3>
    <ul>
        <li>GlassFish</li>
        <li>Derby</li>
        <li>Java Persistence API</li>
        <li>Jersey</li>
        <li>Arquillian</li>
    </ul>
</div>