<div id="album-header">
    <h1>{{albumName}}</h1>
    <h3>@{{owner}}</h3>
</div>

<div class="row">
    <div ng-repeat="picture in album">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a class="thumbnail" href="#/picture/{{picture.id}}">
                <img class="img-responsive" src="{{picture.path}}">
            </a>
            <div class="row picture-info">
                <div class="col-xs-6">
                    <p><small><em>{{picture.date}}</em></small></p>
                </div>
                <div class="col-xs-3">
                    <p class="nr-of-likes"><span class="glyphicon glyphicon-comment"></span> {{picture.comments}}</p>
                </div>
                <div class="col-xs-3">
                    <p class="nr-of-likes"><span class="glyphicon glyphicon-heart"></span> {{picture.likes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>