<div class="help-page">
    <h1>Help</h1>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <button id="regbtn" ng-click="reg()" class="btn btn-default col-xs-2 round-right">How do I register?</button>
            <button id="regbtn" ng-click="set()" class="btn btn-default col-xs-3 round-right round-left">How do I change profile settings?</button>
            <button id="logbtn" ng-click="log()" class="btn btn-default col-xs-2 round-right round-left">How do I log in/out?</button>
            <button id="picbtn" ng-click="pic()" class="btn btn-default col-xs-3 round-left round-right">How do I upload pictures?</button>
            <button id="albbtn" ng-click="alb()" class="btn btn-default col-xs-2 round-left">How do I make albums?</button>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 hideme" id="help-reg" >
                <h3>Registering a profile</h3>
                <ol>
                    <li>Click "Register" on the top-right</li>
                    <li>Input your desired username and password and click "Register", you will be redirected to a page where you provide additional information</li> 
                    <li>Provide your information, upload a profile picture and then click "Register"</li> 
                </ol>    
                Congratulations, you now have a profile!
            </div>
            <div class="col-xs-12 hideme" id="help-set" >
                <h3>Edit profile</h3>
                <ol>
                    <li>First, you need to be signed in</li>
                    <li>Press "More" at the top right of the page to open a drop down menu</li> 
                    <li>Press "Settings" to enter a profile settings page</li>
                    <li>Edit the info you want changed and press "Apply changes"</li>
                </ol>    
                Congratulations, you have changed your profile settings!
            </div>
            <div class="col-xs-12 hideme" id="help-log" >
                <h3>Logging in</h3>
                <ol>
                    <li>Click "Sign In" on the top-right</li>
                    <li>Input your username and password and click "Sign In", you will be redirected to your feed</li> 
                </ol>    
                Congratulations, you are now logged in! 
                If you want to log out, just press "Sign Out" at the top right of the website. 
            </div>
            <div class="col-xs-12 hideme" id="help-pic" >
                <h3>Uploading pictures</h3>
                <ol>
                    <li>First, you need to be signed in</li>
                    <li>Press "Upload" at the top of the page to go to the upload page</li> 
                    <li>Press the "Browse..." button to choose an image and if you have an album you can choose to add the picture to it</li>
                    <li>Press the green button "Upload" below your picture</li>
                </ol>    
                Congratulations, you have uploaded your first picture!       
            </div>
            <div class="col-xs-12 hideme" id="help-alb" >
                <h3>Creating albums</h3>
                <ol>
                    <li>First, you need to be signed in</li>
                    <li>Press "Upload" at the top of the page to go to the upload page</li> 
                    <li>Input the name of the album in the field "Album name"</li>
                    <li>Press the green button "Create album" below</li>
                </ol>    
                Congratulations, you have created your first album!
                If you want to add pictures to your album, press the "How do I upload pictures?" button above.
            </div>
        </div>
    </div>
</div>
