<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img id="single-image" class="img-responsive" src="http://lorempixel.com/600/300/fashion/">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <img class="img-responsive img-circle" src="http://lorempixel.com/200/200/people/">
        </div>
        <div class="col-xs-8">
            <div class="form-group">
                <textarea class="form-control" rows="2" id="picture-comment"></textarea>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">Comment</button>
        </div>
    </div>
</div>