<div class="row" id="profile-box">

    <div class="col-lg-3 col-md-4 col-xs-6" id="profile-picture">
        <img class="img-circle center-block img-responsive" src="http://placehold.it/350x150">
    </div>

    <div class="col-lg-9 col-md-8 col-xs-6" id="info-box">

        <div>
            <h3>{{ name}}</h3>
        </div>

        <div ng-model="description">
            <p>{{ description}}</p>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="image in images track by $index">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="{{image}}">
        </a>
    </div>
</div>
-->

<!--
<div class="row">
    <div ng-repeat="element in data track by $index">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a class="thumbnail" href="#/picture/{{element.id}}">
                <img class="img-responsive" src="{{element.path}}" alt="">
            </a>
        </div>
    </div>
</div>
-->

<div class="row">
    <div ng-repeat="element in data track by $index" ng-switch on="element.type">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a class="thumbnail" href="#" ng-switch-when="image">
                <img class="img-responsive" src="{{element.path}}">
            </a>
            <a class="thumbnail" href="#" ng-switch-when="album">
                <table class="album-preview">
                    <tr ng-repeat="thing in element.pictureList track by $index" ng-if="$index % 2 == 0">
                        <td>
                            <img class="img-responsive" src="{{thing.path}}">
                        </td>
                        <td ng-if="$index + 1 < element.pictureList.length">
                            <img class="img-responsive" src="{{element.pictureList[$index+1].path}}">
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6" >
        <a class="thumbnail" href="#">
            <table class="album-preview">
                <tr>
                    <td>
                        <img class="img-responsive" src="http://placehold.it/400x400">
                    </td>
                    <td>
                        <img class="img-responsive" src="http://placehold.it/400x400">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="img-responsive" src="http://placehold.it/400x400">
                    </td>
                </tr>
            </table>
        </a>
    </div>
    <div class="clearfix visible-md-block"></div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
        <a class="thumbnail" href="#">
            <img class="img-responsive" src="http://placehold.it/400x400">
        </a>
    </div>
</div>
-->