<div class="row" id="profile-box">

    <div class="col-lg-3 col-md-4 col-xs-6" id="profile-picture">
        <img class="img-circle center-block img-responsive" src="{{profilePicture}}">
    </div>

    <div class="col-lg-9 col-md-8 col-xs-6" id="info-box">

        <div id="person-name-header">
            <h3>{{ profileData.fname}} {{profileData.lname}}</h3>
        </div>
        <div id="user-name-header">
            <h4>@{{profileData.username}}</h4>
        </div>

        <div ng-model="description">
            <p>{{ profileData.description}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="element in data track by $index" ng-switch on="element.type">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a class="thumbnail" href="#/picture/{{element.id}}" ng-switch-when="image">
                <img class="img-responsive" src="{{element.path}}">
            </a>
            <a class="thumbnail" href="#/album/{{profileData.username}}/{{element.albumName}}" ng-switch-when="album">
                <table class="album-preview">
                    <tr ng-repeat="image in element.pictureList track by $index" ng-if="$index % 2 === 0">
                        <td>
                            <img class="img-responsive" src="{{image.path}}">
                        </td>
                        <td ng-if="$index + 1 < element.pictureList.length">
                            <img class="img-responsive" src="{{element.pictureList[$index + 1].path}}">
                        </td>
                        <td class="fill-cell" ng-if="$index + 1 === element.pictureList.length"></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>