<div>
    <!--Body content-->
    <h2>Register User</h2>
    
    <a href="#">Back</a>
    <table class="table">
        <tr>
            <td>Username</td>
            <td>
                <input ng-model="user.username" type="text"/>
            </td>
        <tr>
            <td>Password</td>
            <td>
                <input ng-model="user.password" type="password"/>
            </td>
        </tr>
    </table>


    <div class="btn-group">
        <a class="btn btn-default" href="#products"> Cancel </a> 
        <input type="button" value="Save" class="btn btn-default" ng-click="save()"/>
    </div>
    <p>Debug: {{user.username}}{{user.password}}</p>    
</div>